<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property> <!--El driver de acceso a la base de datos-->
    <property name="connection.url">jdbc:mysql://localhost/examenequipos</property> <!--La base de datos a la que me voy a conectar-->
    <property name="connection.username">root</property> <!--Usuario-->
    <property name="connection.password">toor</property> <!--Contraseña-->
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property> <!--Dialecto de las sentencias-->
    <property name="hibernate.show_sql">true</property> <!---->
    </session-factory>
</hibernate-configuration>
